.sec {
  display: flex;
  /* gap: 5vw; */
  width: 100%;
  padding: 2% 0;
}

@media screen and (max-width:768px) {

  .sec {
    flex-direction: column;
  }

}


.sec .bg {
  width: 50%;
  overflow: hidden;
  border-radius: 30px;
}

@media screen and (max-width:768px) {

  .sec .bg {
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
  }
}

.sec .bg img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transition: all linear 0.5s;
}


.sec .bg img:hover {
  transform: scale(1.2);
}

.sec .content {
  width: 50%;
  background-color: rgb(248, 248, 248);
  border-radius: 30px;
}

@media screen and (max-width:768px) {

  .sec .content {
    width: 100%;
    background-color: rgb(248, 248, 248);
    border-radius: 30px;
  }

}

.sec .content h1 {
  color: rgb(26, 189, 26);
  font-size: 2.5vw;
  padding: 2%;
  transition: all 0.3s linear;
}


@media screen and (max-width:768px) {
  .sec .content h1 {
    color: rgb(26, 189, 26);
    font-size: 7vw;
    padding: 2%;
  }
}

.sec .content h2 {
  color: #004c4c;
  font-size: 3vw;
  padding: 2%;
  line-height: 1.4;
  text-align: start;
}



@media screen and (max-width:768px) {

  .sec .content h2 {
    color: #004c4c;
    font-size: 8vw;
    padding: 2%;
    line-height: 1.4;
    text-align: start;
  }

}

.sec .content p {
  color: #3c3c3c;
  font-size: 1.7vw;
  padding: 2%;
  line-height: 1.4;
  text-align: start;
}

@media screen and (max-width:768px) {

  .sec .content p {
    color: #3c3c3c;
    font-size: 5.5vw;
    padding: 2%;
    line-height: 1.4;
    text-align: start;
  }

}

.sec .content .button {
  text-align: center;
}

.sec .content .button button {
  all: unset;
  width: 40%;
  padding: 2% 5%;
  background: none;
  color: #004c4c;
  border: 1px solid #004c4c;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: 1em;
  transition: all 0.3s linear;
}

.sec .content .button button:hover {
  background: #004c4c;
  color: white;

}


.alt {
  display: flex;
  /* gap: 5vw; */
  width: 100%;
  padding: 2% 0;
}


@media screen and (max-width:768px) {

  .alt {
    flex-direction: column-reverse;
  }

}



.alt .bg {
  width: 50%;
  overflow: hidden;
  border-radius: 30px;
}

@media screen and (max-width:768px) {

  .alt .bg {
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
  }

}


.alt .bg img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transition: all linear 0.5s;
}

.alt .bg img:hover {
  transform: scale(1.2);
}


.alt .content {
  width: 50%;
  background-color: rgb(248, 248, 248);
  border-radius: 30px;
}


@media screen and (max-width:768px) {

  .alt .content {
    width: 100%;
    background-color: rgb(248, 248, 248);
    border-radius: 30px;
  }

}


.alt .content h1 {
  color: rgb(26, 189, 26);
  font-size: 2.5vw;
  padding: 2%;
  transition: all 0.3s linear;
}


@media screen and (max-width:768px) {

  .alt .content h1 {
    font-size: 7vw;
  }
}

.alt .content h2 {
  color: #004c4c;
  font-size: 3vw;
  padding: 2%;
  line-height: 1.4;
  text-align: start;
}

@media screen and (max-width:768px) {

  .alt .content h2 {
    font-size: 8vw;
  }
}

.alt .content p {
  color: #3c3c3c;
  font-size: 1.7vw;
  padding: 2%;
  line-height: 1.4;
  text-align: start;
}

@media screen and (max-width:768px) {

  .alt .content p {
    font-size: 5.5vw;
  }
}

.alt .content .button {
  text-align: center;
}

.alt .content .button button {
  all: unset;
  width: 40%;
  padding: 2% 5%;
  background: none;
  color: #004c4c;
  border: 1px solid #004c4c;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: 1em;
  transition: all 0.3s linear;
}

.alt .content .button button:hover {
  background: #004c4c;
  color: white;

}



.formh {
  padding: 2% 0;
}

.formh h1 {
  text-align: center;
  font-size: 2.5vw;
  color: #004c4c;
  margin-bottom: 1em;
}

@media screen and (max-width:768px) {

  .formh h1 {
    font-size: 7vw;

  }
}

.formh p {
  text-align: center;
  font-size: 1.5vw;
  color: #3c3c3c;
  padding: 0 30%;
}

@media screen and (max-width:768px) {

  .formh p {
    font-size: 4vw;
    padding: 0 10%;
  }
}


.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0 7% 0;
}

.form .container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 3%;
  padding: 3%;
  width: 96%;
  background-color: #004c4c;
  border-radius: 10px;
}

@media screen and (max-width:768px) {
  .form .container {
    flex-direction: column;
  }
}


.form .container .info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: start;
}


.form .container .info p {
  font-weight: 300;
  font-size: 3.5vw;
  color: white;
}

@media screen and (max-width:768px) {

  .form .container .info {
    width: 100%;
  }


  .form .container .info p {
    font-weight: 300;
    font-size: 12vw;
    color: white;
  }
}

.form .container .info h4 {
  font-size: 2vw;
  color: white;
  align-items: center;
  justify-content: start;
  display: flex;
}



.form .container .info2 {

  width: 50%;
  display: flex;
  justify-content: center;

}


@media screen and (max-width:768px) {

  .form .container .info h4 {
    font-size: 6vw;
  }

  .form .container .info2 {

    width: 100%;
  }

}






.containerButton {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "bt-1 bt-2 bt-3" "bt-4 bt-5 bt-6";
  position: relative;
  perspective: 800px;
  padding: 0;
  width: 135px;
  height: 47px;
  transition: all 0.3s ease-in-out;
  margin: 3% 2%;
  cursor: pointer;
}

.containerButton:active {
  transform: scale(0.95);
}

.hover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.bt1 {
  grid-area: bt-1;
}

.bt2 {
  grid-area: bt-2;
}

.bt3 {
  grid-area: bt-3;
}

.bt4 {
  grid-area: bt-4;
}

.bt5 {
  grid-area: bt-5;
}

.bt6 {
  grid-area: bt-6;
}

.bt1:hover~.btn {
  transform: rotateX(15deg) rotateY(-15deg) rotateZ(0deg);
  box-shadow: -2px -2px #18181888;
}

.bt1:hover~.btn::after {
  animation: shake 0.5s ease-in-out 0.3s;
  text-shadow: -2px -2px #18181888;
}

.bt3:hover~.btn {
  transform: rotateX(15deg) rotateY(15deg) rotateZ(0deg);
  box-shadow: 2px -2px #18181888;
}

.bt3:hover~.btn::after {
  animation: shake 0.5s ease-in-out 0.3s;
  text-shadow: 2px -2px #18181888;
}

.bt4:hover~.btn {
  transform: rotateX(-15deg) rotateY(-15deg) rotateZ(0deg);
  box-shadow: -2px 2px #18181888;
}

.bt4:hover~.btn::after {
  animation: shake 0.5s ease-in-out 0.3s;
  text-shadow: -2px 2px #18181888;
}

.bt6:hover~.btn {
  transform: rotateX(-15deg) rotateY(15deg) rotateZ(0deg);
  box-shadow: 2px 2px #18181888;
}

.bt6:hover~.btn::after {
  animation: shake 0.5s ease-in-out 0.3s;
  text-shadow: 2px 2px #18181888;
}

.hover:hover~.btn::before {
  background: transparent;
}

.hover:hover~.btn::after {
  content: "Click";
  top: -150%;
  transform: translate(-50%, 0);
  font-size: 34px;
  color: #047434;
}

.btn {
  position: absolute;
  padding: 0;
  width: 135px;
  height: 47px;
  background: transparent;
  font-size: 17px;
  font-weight: 900;
  border: 3px solid #047434;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 135px;
  height: 47px;
  background-color: #2ead17;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.btn::after {
  content: "Explore";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 135px;
  height: 47px;
  background-color: transparent;
  font-size: 17px;
  font-weight: 900;
  line-height: 47px;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

@keyframes shake {
  0% {
    left: 45%;
  }

  25% {
    left: 54%;
  }

  50% {
    left: 48%;
  }

  75% {
    left: 52%;
  }

  100% {
    left: 50%;
  }
}